workspace_4/*.cfg
workspace_3/*.cfg
workspace_4/lab_4.py
workspace_3/bin/*
workspace_3/lib/*
workspace_4/bin/*
workspace_4/lib/*
workspace_3/share/*
workspace_4/share/*
workspace_4/Individual_Household_Electric_Power_Consumption_Data/*
workspace_4/my_df_automobile/*
workspace_3/__pycache__/*
workspace_3/data_csv/*
workspace_2/bin/*
workspace_2/data_csv/*
workspace_2/lib/*
workspace_2/share/*
workspace_2/*.cfg
workspace_2/*.log 
workspace_5/*.cfg
workspace_5/__pycache__/*
workspace_5/lib/*
workspace_5/bin/*
workspace_5/share/*
workspace_6/*.cfg
workspace_6/lib/*
workspace_6/bin/*
workspace_6/share/*
workspace_7/bin/*
workspace_7/concat_L2A_A/*
workspace_7/concat_L2A_B/*
workspace_7/GUI_data/*
workspace_7/lib/*
workspace_7/method_FIRST/*
workspace_7/method_SECOND/*
workspace_7/reproject_L2A_A/*
workspace_7/reproject_L2A_B/*
workspace_7/share/*
workspace_7/output_4_cutted.tif
workspace_7/output_4.tif
workspace_7/output_not_reproj_4_cutted.tif
workspace_7/output_not_reproj_4.tif
workspace_7/pyvenv.cfg
workspace_7/test.ipynb/
workspace_7_2/bin/*
workspace_7_2/concat_LC08_25/*
workspace_7_2/concat_LC08_25_RGB/*
workspace_7_2/concat_LC08_26/*
workspace_7_2/concat_LC08_26_RGB/*
workspace_7_2/GUI_data/*
workspace_7_2/landsat_8/*
workspace_7_2/LANDSAT_PANSHARPEN/*
workspace_7_2/lib/*
workspace_7_2/reproject_LC08_25_RGB/*
workspace_7_2/reproject_LC08_26_RGB/*
workspace_7_2/share/*
workspace_7_2/LC08_25_26_RGB_cutted.tif
workspace_7_2/LC08_25_26_RGB.tif
workspace_7_2/original_LC08_25_26_RGB_cutted.tif
workspace_7_2/original_LC08_25_26_RGB.tif
workspace_7_2/pyvenv.cfg
workspace_7_2/4_original_LC08_25_26.tif
workspace_7/test.ipynb
























